.App {
  text-align: center;
  overflow: hidden;
  display: flex;
}

.videoFrame{
  position: relative;
  width: 100%;
  flex: 1;
}

.video{
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.mark{
  background-image: url('./icons/arenamark.svg');
  background-size: 26px 26px;
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
  margin-right: 0px;
}

.slash{
  display: block;
  height: 26px;
  border-right: 2px solid white;
  transform: rotate(20deg);
  margin-right: 10px;
  margin-left: 10px;
}

.logoMark{
  width: auto;
  display: flex;
  align-items: center;
}

.logoMark h1{
  margin-bottom: 2px;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

}

.info{
  display: flex;
  align-items: center;
}

.spacer{
  width: 1.6em;
  text-align: center;
}

.indicator{
  margin-top: 1px;
  width: 24px;
  height: 12px;
  border-radius: 10px;
  display: block;
  border-radius: 24px / 12px;
  transition: background-color .5s;
  background-color: #FFACAE;
}

.unstarted{
  background-color: #FFACAE;
}

.buffering{
  background-color: #C8B4E3;
}

.playing{
  background-color: #17AC10;
}

.paused{
  background-color: #FFEB63;
}

.cued{
  background-color: #FFEB63;
}

.error{
  background-color: #FFACAE;
}

header, footer {
  width: 100%;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.videoWrapper{
  width: 100%;
  height: 100vh;
}

@keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 300px 150px; }
}

.loadingState {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 90;
  transition: opacity 500ms;
  background-size: 150px 150px;
  background-image: linear-gradient(
    45deg,
    #0c0c0c  25%,
    black       25%,
    black       50%,
    #0c0c0c  50%,
    #0c0c0c 75%,
    black       75%,
    black
  );
  animation: barberpole 1s linear infinite;
}

.loadingOn {
  opacity: 1;
}

.loadingOff{
  opacity: 0;
}

.tray{
  background-color: black;
  transition: width 300ms;
  overflow-x: hidden;
}

.trayOpen{
  width: 340px;
}

.trayClosed{
  width: 0;
}

.bubble{
  opacity: 0;
  visibility: hidden;
  /*display: none;*/
  max-width: 200px;
  padding: 10px;
  position: absolute;
  transform: translateX(calc(-50% + 17px)) translateY(10px);
  background: #f1f1f1;
  font-size: 16px;
  color:black;
  border-radius: 4px;
  transition: opacity 0.1s ease;
  -webkit-box-shadow: 4px 4px 30px -11px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 30px -11px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 30px -11px rgba(0,0,0,0.4);
}

.sound_on{
  background-image: url('./icons/sound_on.svg');
  background-size: 60px 18px;
  background-repeat: no-repeat;
  height: 18px;
  width: 60px;
}

.sound_off{
  background-image: url('./icons/sound_off.svg');
  background-size: 60px 18px;
  background-repeat: no-repeat;
  height: 18px;
  width: 60px;
}

#mute{
  margin-right: 20px;
}

#channels{
  width: auto;
  display: flex;
}
