*{
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

iframe{
  pointer-events: none;
}

.channelListItem{
  display: flex;
  cursor: pointer;
  margin-top: 1rem;
}

.listContents{
  margin-right: 1em;
}
